/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.tabovi{
    width: 33.3%;
    text-align: center;
}

/*  ADMIN PANEL DASHBOARD */

#v-pills-tab {
    width: 15%;
    margin-top: 35px;
}

 /* */ 

 .panel
 {
   margin: 5%;
   background: transparent;
 }


 tr
 {
   transition: all 0.5s;
 }
 tr:hover
 {
   background-color: #f0ad4e;
   transition: 0.5s;
 }
 .btn-warning
 {
   transition: all 0.8s;
 }

 .btn-warning:hover, .btn-warning:focus
 {
   transition: 0.8s;
   background-color: #428bca;
   border-color: #428bca;
 }

 .panel-footer
 {
   background-color: #5bc0de;
   color: white;
 }

 /*    */

.widget .panel-body { 
    padding:0px; 
}
.widget .list-group { 
    margin-bottom: 0; 
}
.widget .panel-title { 
    display:inline 
}
.widget .label-info { 
    float: right; 
}
.widget li.list-group-item {
    border-radius: 0;border: 0;border-top: 1px solid #ddd;
}
.widget li.list-group-item:hover { 
    background-color: rgba(86,61,124,.1); 
}
.widget .mic-info {
    color: #666666;font-size: 11px; 
}
.widget .action { 
    margin-top:5px; 
}
.widget .comment-text { 
    font-size: 12px; 
}
.widget .btn-block { 
    border-top-left-radius:0px;border-top-right-radius:0px; 
}
.widget .col-xs-2.col-md-1{
    padding-left: 5px;
}
