/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.tabovi{
    width: 33.3%;
    text-align: center;
}

/*  ADMIN PANEL DASHBOARD */

#v-pills-tab {
    width: 15%;
    margin-top: 35px;
}

 /* */ 

 .panel
 {
   margin: 5%;
   background: transparent;
 }


 tr
 {
   transition: all 0.5s;
 }
 tr:hover
 {
   background-color: #f0ad4e;
   transition: 0.5s;
 }
 .btn-warning
 {
   transition: all 0.8s;
 }

 .btn-warning:hover, .btn-warning:focus
 {
   transition: 0.8s;
   background-color: #428bca;
   border-color: #428bca;
 }

 .panel-footer
 {
   background-color: #5bc0de;
   color: white;
 }

 /*    */

.widget .panel-body { 
    padding:0px; 
}
.widget .list-group { 
    margin-bottom: 0; 
}
.widget .panel-title { 
    display:inline 
}
.widget .label-info { 
    float: right; 
}
.widget li.list-group-item {
    border-radius: 0;border: 0;border-top: 1px solid #ddd;
}
.widget li.list-group-item:hover { 
    background-color: rgba(86,61,124,.1); 
}
.widget .mic-info {
    color: #666666;font-size: 11px; 
}
.widget .action { 
    margin-top:5px; 
}
.widget .comment-text { 
    font-size: 12px; 
}
.widget .btn-block { 
    border-top-left-radius:0px;border-top-right-radius:0px; 
}
.widget .col-xs-2.col-md-1{
    padding-left: 5px;
}

/* -------------- explore feed page -------------------*/

.story-container {
    border: 1px solid salmon;
    width: 100%;
    /*height: 500px;*/
    padding: 10px;
    margin-bottom: 20px;    
    position: relative;
}

.image-container {
    width: 100%;
    height: 300px;
}

.image-container img{
    width: 100%;
    height: 300px;
}

.statistics {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.statistics small{
    margin-right: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.buttons a{
    flex: 1 1 33%;
}

.like-button-link  {
    color: #428bca;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
.like-button-link:hover  {
    background-color: #d0edf5;
    transition: all 0.7s;
    cursor: pointer;
    color: #428bca;
}
.dislike-button-link  {
    color: #e20808;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
.dislike-button-link:hover  {
    background-color: #f5d0d0;
    transition: all 0.7s;
    cursor: pointer;
    color: #e20808;
}
.comment-button-link  {
    color: #00e466;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
.comment-button-link:hover  {
    background-color: #b8f8a8;
    transition: all 0.7s;
    cursor: pointer;
    color: #00e466;
}

.insert-comment{
    display: none;
}
.insert-comment textarea {
    margin-bottom: 10px;
}
.active {
    display: block;
}

.list-of-comments {
  /*  border: 1px solid brown;*/
    margin: 10px 0px 10px 0px;
    width: 100%;
}
.each-comment {
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgb(195, 255, 235);
    margin: 10px 0px 10px 0px;
}

.user-image{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 10px;
}

.user-image img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    float: left;
}

.user-name{
    color: #428bca;
    font-style: italic;
}
.date-commented{
    margin: 5px;
    margin-right: 10px;
    float: right;
    font-style: italic;
}

.user-message {
    height: min-content;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 90px;
    margin-right: 10px;
    padding: 5px;
    background-color: white;
}
.user-message p {
    margin-bottom: 0px;
}
.load-more {
    bottom: 0;
    position: absolute;
    text-align: center;
}
.liked {
    background-color: #d0edf5;
}
.disliked {
    background-color: #f5d0d0;
}